:root{
    --sides-offset: 17%;
    --defualt-gray: hsl(198, 21%, 84%);
    --darker-gray: hsl(198, 21%, 74%);
    --default-white: #f5f5f5;
    --content-gap: 30px;
}

.container {
    font-family: tahoma, sans-serif;
    margin: 0;
    background-color: var(--defualt-gray);
    display: grid;
    grid-template-areas: "header" "primary-col" "side-col" "footer";
}

/* Applies the column padding to all elements in the body */
.container > * {
    padding: 1rem;
}
.header {
    grid-area:header;
    padding: 30px;
    background-color: var(--default-white);
    display: flex;
    justify-content: first;
    padding-left: calc(var(--sides-offset) - 7%);
    align-items: center;

    .personal-info {
        display: block;
        justify-content: center;
        margin-left: 30px;
    }

    .pfp {
        width: 300px;
        border-radius: 50%;
    }

    .githubimg, .linkedinimg {
        width: 30px;
        height: 30px;
        background-color: var(--darker-gray);
        padding: 3px;
        border-radius: 50%;
    }

}


.primary-col, .side-col {
    min-height: 70vh;
    background-color: var(--default-gray);
}
.primary-col {
    grid-area: primary-col;

}
.side-col {
    grid-area: side-col;
}



.content-box {
    background-color: var(--default-white);
    padding: 10px;
}

.middle-element {
    margin-top: var(--content-gap);
    margin-bottom: var(--content-gap);
}




.footer {
    grid-area: footer;
    background-color: var(--default-white);
    padding: 30px;
}



/* Grid areas for the whole body */
@media (min-width:768px) {
    .container {
        grid-template-columns:10% auto auto auto 10%;
        grid-template-areas:
            "header header header header header"
            ". primary-col primary-col side-col ."
            "footer footer footer footer footer";
    }
}