:root{
    --left-offset: 0%;
    --defualt-gray: hsl(198, 21%, 84%);
    --darker-gray: hsl(198, 21%, 74%);
    --default-white: #f5f5f5;
    --content-gap: 30px;
}

body {
    font-family: tahoma, sans-serif;
    margin: 0;
    background-color: var(--defualt-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    padding: 30px;
    background-color: var(--default-white);
    display: flex;
    justify-content: first;
    padding-left: var(--left-offset);
    align-items: center;

    .personal-info {
        display: block;
        justify-content: center;
        margin-left: 30px;
    }

    .pfp {
        width: 300px;
        border-radius: 50%;
    }

    .githubimg, .linkedinimg {
        width: 30px;
        height: 30px;
        background-color: var(--darker-gray);
        padding: 3px;
        border-radius: 50%;
    }

}

.content {
    flex: 1;                        /*Used for taking up the whole page, and keeping the header/footer at the top/bottom */
    padding: 30px;
    display: flex;
    justify-content: center;
    column-gap: var(--content-gap); /*Spacing between the columns */
    padding-left: var(--left-offset);

    .primary-col {
        background-color: var(--defualt-gray);
        border: 1px solid black;

        .about-me, .projects, .experience {
            background-color: var(--default-white);
        }
    }

    .side-col {
        background-color: var(--default-gray);
        border: 1px solid black;

        .education, .languages {
            background-color: var(--default-white);
        }
    };

}

.footer {
    background-color: var(--default-white);
    padding: 30px;
}